<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Dumb Charades</title>
        <meta charset="utf-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    
        <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
          <!-- Website css -->
          <link rel="stylesheet" href='{% static "css/style.css" %}'>
    
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        
        <style>

        </style>
    </head>
    <body style="background-color: white;"> 
        <script src='{% static "js/modal.js" %}'></script>
        
        <div id="container">

            <h3 class="teal-text" style="margin-top:350px"> Welcome to Round 2 Of Dumb Charades<span id='roundnumber'></span>
              <br/>
              <br/>
            </h3>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
                About Game
            </button>                            
                
            <a style="margin-left: 50px;;" type="button" class="btn btn-primary btn-lg" href="/annotation/round2">
                Play Game
            </a>

        <div style="top:100px;min-height: 700px;"class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="font-size:20px;"  class="teal-text">
                            You will be given a set of 5 actions one after the other, performed by human 3d model along with the action description.
                        </p>
                        <br/>
                        <img src="/media/gifs/r21.gif" width="620" height="380" frameBorder="0" allowFullScreen/>
                        <br/>
                        <p style="font-size:20px;"  class="teal-text">
                            Choose the option that best indicates how realistic you think the action looks
                        </p>
                    </div>
                    
                    <div class="model-footer">
                        <button type="button" disabled class="btn btn-default btn-prev">Prev</button>
                        <button type="button" class="btn btn-default btn-next">Next</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

       
        <div style="top:100px; min-height: 700px;"class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="font-size:20px;"  class="teal-text">
                            You can view the model from different viewpoints by either clicking and dragging the grid or by selecting one of the given viewpoints.
                        </p>
                        <br/>
                        <img src="/media/gifs/r22.gif" width="620" height="380" frameBorder="0" allowFullScreen/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <div class="model-footer">
                        <button type="button" class="btn btn-default btn-prev">Prev</button>
                        <button type="button" class="btn btn-default btn-next">Next</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="top:100px; min-height: 700px;"class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="font-size:20px;"  class="teal-text">
                            You can also Zoom in or Zoom out of the action
                        </p>
                        <br/>
                        <img src="/media/gifs/r22.gif" width="620" height="380" frameBorder="0" allowFullScreen/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <div class="model-footer">
                        <button type="button" class="btn btn-default btn-prev" >Prev</button>
                        <!-- <button type="button" class="btn btn-default">Play Game</button> -->
                        <a type="button" class="btn btn-default" href="/annotation/round2">
                            Play Game
                        </a>                            
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </body>
  

  </html>