<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dumb Charades</title>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Website css -->
      <link rel="stylesheet" href='{% static "css/style.css" %}'>

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src='{% static "js/nextround.js" %}'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>

    </style>

  </head>
  <body style="background-color: white;">
    <div id="container">
      <h3 class="teal-text"> Welcome to Round 1 <span id='roundnumber'></span>
        <br/>
      </h3>
      <br/>
      <br/>

      <p style="font-size:22px;"  class="teal-text">In the round you will be given set of 20 actions one after the other, performed by human 3d model as well as 4 options that may describe the action.</p>
      <p style="font-size:22px;"  class="teal-text">You are requested to choose the option that best describes the action being performed.</p>

    
      <img src="/media/gifs/r11.gif" width="620" height="350" frameBorder="0" allowFullScreen/>
      
      <br/>
      <br/>

      <p style="font-size:22px;" class="teal-text">You can view the model from different viewpoints by either clicking and dragging the grid or by selecting one of the given viewpoints.You can also zoom in and out</p>
      <img src="/media/gifs/r12.gif" width="620" height="350" frameBorder="0" allowFullScreen/>
      
      <br/>
      <br/>

      <p style="font-size:22px;" class="teal-text" style="font-weight: bold;">Please note that you have only 30 seconds to submit your answer,after which the next action gets rendered</p>
      
      <p style="font-size:22px;" class="teal-text">
        Press the button below to continue to the next round
      </p>
        <form action="/annotation/round1">
        <div class="input-field">
        <input type="submit" class="btn" id="btnSubmit" value = "Proceed">
        </div>  
      </form>
    </div>

  </body>
</html>
